#contact{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: rgba(220, 220, 220, 0.724);
    border-radius: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.bgCatering {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7; /* Adjust the opacity value as needed */
    filter: brightness(80%); /* Adjust the brightness value as needed */
}


#contactMe {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}

.contactPageTitle {
    font-size: 3rem;
    font-weight: 600;
    font-style: bold;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}
.contactDesc{
    padding: 1rem;
    font-size: 1.5rem;
    font-style: initial;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
    box-sizing: border-box;
}

.name,.email,.msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40, 40,40);
}

.submitBtn{
    background: black;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    #contact {
        padding: 0 0.5rem; /* Adjust padding for smaller screens */
    }

    .contactForm {
        padding: 0 0.5rem; /* Adjust padding for smaller screens */
    }
}

