.menu {
    width: 100%;
    text-align: center;
    margin: 140px auto 30px auto; /* Adjust top and bottom margin, set left and right margin to auto */
  }
  
  .mealType {
    display: flex;
    justify-content: center;
    font-size: 20px;
    
  }
  
  .regular,
  .dessert {
    background-color: #e6ffe6;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 1rem;
    cursor: pointer;
    
  }
  .regular{
    border-right: solid gainsboro 2px ;
    border-radius: 5px 0px 0px 5px;
  }
  
  .regular:hover,
  .dessert:hover {
    background-color: rgba(8, 73, 8, 0.76);
    color: white;
  }
  
  
  .MenuCards {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
    margin-top: 50px;
    z-index: 1;
  }
  
  .MenuCard {
    width: 400px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
    height: 370px;
    border-radius: 10px;
    position: relative;
  }
  
  .MenuCard:hover {
    transform: scale(1.02); /* Scale the menu card to 105% on hover */
    background-color: #e6ffe6; /* Change the background color on hover */
  }
  
  .MenuImg {
    max-width: 100%; /* Ensure images don't exceed card width */
    height: auto; /* Allow images to maintain aspect ratio */
    overflow: hidden; /* Hide any overflow outside the card */
  }
  
  .MenuImg img {
    width: 100%; /* Make image width 100% of its container */
    height: auto; /* Allow images to maintain aspect ratio */
    max-height: 30vh ;
    object-fit: cover;
  }

  
  .Calories {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
  }
  

  @media screen and (max-width:1500px ) {
    .MenuImg Img{
        height: 20vh;
    }
    
  }

  @media screen and (min-width:1600px ) {
    .MenuImg Img{
        height: 20vh;
    }
    
  }

  @media screen and (max-width:500px ) {
    .MenuCard {
      width: 350px;
    }
    
  }
  